name: Publish to NPM

on:
  workflow_dispatch:
  push:
    tags:        
      - '*'

env:
  CI: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - uses: actions/checkout/@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - run: npm install -g npm@latest # Required for trusted publishing (npm 11.5.1 or later)

      - name: Install dependencies
        run: npm ci

      - name: Build Extension
        run: npm run build

      - name: Publish Extension
        run: |
          RELEASE_CHANNEL=$(npm run release-channel --silent)
          npm publish --tag $RELEASE_CHANNEL
